/* Main page and font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  box-sizing: border-box;
}

p {
  color: #b7b1b1;
}

/* Button section */
.btn-part {
  background: linear-gradient(40deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
}

.arrow {
  height: 20px;
  width: 20px;
}

/* Header & Navbar section */
.header-section {
  background-color: rgb(31, 13, 56);
}

.navbar {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.menu {
  display: none;
  height: 0;
}

.sm-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  font-size: 45px;
  font-weight: 800;
}

#logo_part {
  background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.nav-content {
  text-decoration: none;
}

/* Banner Section */
.banner {
  min-height: 60vh;
  background-image: url(../hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px 5%;
}

.hero-images {
  height: auto;
}

.img-circle {
  position: relative;
  top: 80px;
}

.img-mic {
  position: relative;
  bottom: 200px;
  left: 115px;
}

.hero-content {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  font-size: 60px;
  font-weight: 800;
  padding: 20px 100px;
}

.hero-description {
  padding: 0px 100px 30px;
  color: rgb(175, 162, 162);
}

#New-item {
  position: relative;
  padding: 8px 16px;
  width: 75px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  left: 270px;
  background-color: #00FF88;
  color: #000;
  bottom: 420px;
}

.button {
  display: flex;
  gap: 8px;
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: 1px solid rgb(21, 104, 21);
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: transparent;
}