/* Main page and font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  box-sizing: border-box;
}

p {
  color: #b7b1b1;
}
